<mat-form-field>
  <mat-label>Todo</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.todo.title" />
</mat-form-field>

<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea rows="7" matInput [(ngModel)]="data.todo.text"></textarea>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="Select optional due date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-button-toggle-group [(ngModel)]="data.todo.importance">
  <mat-button-toggle [value]="Importance.High">
    <mat-icon>priority_high</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="Importance.Middle">
    <mat-icon>info</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="Importance.Low">
    <mat-icon>low_priority</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<div mat-dialog-actions style="justify-content: end">
  <button mat-button type="button" (click)="submit()">OK</button>
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-mini-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ task: data.todo, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>
