<div class="container-wrapper">
  <div class="container">
    <h2>Login</h2>
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input data-testid="mailInput" formControlName="mail" type="email" matInput placeholder="Mail">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input data-testid="passwordInput" autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-between">
          <button mat-flat-button type="button" (click)="forgotPassword()">Forgot password?</button>
          <button mat-raised-button data-testid="submitForm" color="primary">Login</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
