<mat-toolbar color="primary">
  <mat-icon>assignment_turned_in</mat-icon>
  <span>ノート Noto</span>
  <span class="spacer"></span>
  <button mat-flat-button color="primary" *ngIf="!isLoggedIn" routerLink="/signup">Sign up</button>
  <button mat-flat-button color="primary" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
  <button mat-flat-button color="primary" *ngIf="isLoggedIn" routerLink="/project-page">Projects</button>


  <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" color="primary" mat-flat-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="logout()" *ngIf="isLoggedIn" color="primary" mat-menu-item>
      <mat-icon>logout</mat-icon>
      Sign out
    </button>
    <button *ngIf="isLoggedIn" color="primary" mat-menu-item routerLink="/settings">
      <mat-icon>manage_accounts</mat-icon>
      Settings
    </button>
  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>
