mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar > span {
  margin-left: 10px;
}

.content-wrapper {
  max-width: 1400px;
  margin: auto;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 620px) {
  .container {
    width: calc(100% - 20px);
  }
  .container-projects {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 599px) {
  .container {
    width: 400px;
  }
}

@media screen and (min-width: 620px) {
  .container-projects {
    width: 600px;
  }
}

.container {
  padding: 25px 10px 25px 10px;
}

.container-projects {
  padding: 25px 10px 25px 10px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
}

app-new-todo {
  margin-bottom: 30px;
}

.empty-label {
  font-size: 2em;
  padding-top: 10px;
  text-align: center;
  opacity: 0.2;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}
