<div class="container-wrapper">
  <div class="container">
    <h2>{{(project | async)?.name}}</h2>
    <app-todo (edit)="editTask($event)" *ngFor="let todo of todos | async " [todo]="todo" [projectId]="projectId"></app-todo>
    <div style="display: flex; justify-content: space-between">
      <button routerLink="/project-page" mat-button>
        <mat-icon>arrow_back</mat-icon> Back
      </button>
      <button (click)="newTodo()" mat-button>
        <mat-icon>add</mat-icon> Add Todo
      </button>
    </div>

  </div>
</div>
