<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Project</mat-label>
    <input matInput cdkFocusInitial formControlName="name"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea rows="7" matInput formControlName="description"></textarea>
  </mat-form-field>

  <div formArrayName="collaborators">
    <div *ngFor="let collaborator of collaborators.controls; let i = index">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Collaborator</mat-label>
          <input matInput formControlName="mail" asyncMailValidator/>
          <button matSuffix mat-icon-button aria-label="delete" type="button" (click)="deleteCollaborator(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <button style="float: right" mat-mini-fab color="primary" aria-label="Add" type="button" (click)="addCollaborator()">
    <mat-icon>add</mat-icon>
  </button>


  <div mat-dialog-actions style="width: 100%; flex-direction: row-reverse">
    <button mat-button type="submit">OK</button>
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button *ngIf="data.enableDelete" [mat-dialog-close]="{ project: data.project, delete: !data.project.removed }"
            color="primary" mat-mini-fab>
      <mat-icon>{{data.project.removed ? "restore" : "delete"}}</mat-icon>
    </button>
  </div>
</form>


