<div class="container-wrapper">
  <div class="container">
    <h2>Settings</h2>
    <mat-card>
      <form (ngSubmit)="onSubmit()" [formGroup]="settingsForm">

        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input autocomplete="off" formControlName="oldPassword" matInput placeholder="Required to confirm"
                 type="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input autocomplete="off" formControlName="newPassword" matInput placeholder="Password" type="password">
        </mat-form-field>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-between">
          <button (click)="deleteAccount()" color="warn" mat-raised-button type="button">Delete account</button>
          <button color="primary" mat-raised-button type="submit">Change password</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
