<div class="container-wrapper">
  <div class="container-projects">
    <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 10px">
      <h2>Projects</h2>
      <mat-button-toggle-group [(ngModel)]="showDeleted">
        <mat-button-toggle [value]="false">
          <mat-icon>list</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="true">
          <mat-icon>deleted</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-grid-list [cols]="columns" [rowHeight]="rowHeight" [gutterSize]="'10px'">
      <div *ngFor="let project of projects | async">
        <mat-grid-tile *ngIf="showDeleted ? project.removed : !project.removed" [colspan]="1" [rowspan]="1"
                       style="overflow: visible">
          <app-project (edit)="editProject($event)" [project]="project"></app-project>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
    <button (click)="newProject()" mat-button style="float: right; margin-top: 10px">
      <mat-icon>add</mat-icon>
      Add project
    </button>
  </div>

  <div class="container-projects">
    <h2>Shared Projects</h2>
    <mat-grid-list [cols]="columns" [rowHeight]="rowHeight" [gutterSize]="'10px'">
      <div *ngFor="let project of sharedProjects | async">
        <mat-grid-tile *ngIf="!project.removed" [colspan]="1" [rowspan]="1" style="overflow: visible">
          <app-project [editable]="false" [project]="project"></app-project>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
</div>
