<div class="container-wrapper">
  <div class="container">
    <h2>Sign up</h2>
    <mat-card>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">

        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input data-testid="mailInput" formControlName="mail" type="email" matInput placeholder="Mail">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input data-testid="passwordInput" autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
          <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button data-testid="submitForm" color="primary">Signup</button>
      </form>
    </mat-card>
  </div>
</div>
