<mat-card class="item" *ngIf="project" (click)="forwardToProjectTodos()">
  <div style="display: flex; justify-content: space-between; align-items: baseline">
    <h2 style="overflow: hidden; text-overflow: ellipsis;">{{ project.name }}</h2>
    <button (click)="edit.emit(project)" (mouseout)="mouseOverButton=false" (mouseover)="mouseOverButton=true"
            *ngIf="editable" mat-icon-button style="float: right">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div class="fade">{{ project.description }}</div>

</mat-card>
