mat-card{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.fade {
  margin-bottom: 5px;
  padding-bottom: 5px;
  max-height: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(top,#000 70%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item {
  display: flex;
  flex-direction: column;
}

.only-show-on-hover {
  visibility: hidden;
}

.only-show-on-hover:hover {
  visibility: visible;
}
