<mat-card class="item" *ngIf="todo" (dblclick)="edit.emit(todo)">
  <div style="width: 100%">

    <h2 style="overflow: hidden; text-overflow: ellipsis;">{{ todo.title }}</h2>
    <p style="word-wrap: break-word; white-space: pre-wrap; word-break: break-word;">
      {{ todo.text }}
    </p>
    <div style="display:flex; justify-content: space-between; align-items: center">
      <mat-icon style="padding-right: 5px">{{getIconForTodo()}}</mat-icon>
      <p style="margin: 0" *ngIf="todo.dueUntil">Due until: {{todo.dueUntil.toDate().toLocaleDateString()}}</p>
    </div>
  </div>

  <mat-checkbox style="padding-left: 10px;" [checked]="todo.checked" (change)="checkedChanged($event)"></mat-checkbox>

</mat-card>
